<section class='clients' id="clients" data-js="clients">
    <div class='wrapper'>
        <div class="tab-img"><img src="../img/iPod2.png" alt="tab image"></div>
        <div class="clients-tittle">Clients</div>
        <div class="clients-container">
            <p class="clients-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="clients-subscription">Project Manager/<a href="Infinity-group.pl">Infinity-group.pl</a>
            </div>
            <div class="frame">web design</div>
            <div class="frame">usability</div>
            <div class="frame">e-commerce</div>
        </div>
    </div>
</section>