<section class='clients' id="clients">
    <div class='wrapper'>
        <div class='swiper-container'>
            <div class="swiper-wrapper">

                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="tab-img"></div>
                    <div class="clients-tittle">Clients</div>
                    <div class="clients-container">
                        <p class="clients-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="clients-subscription">Project Manager/<a href="Infinity-group.pl">Infinity-group.pl</a>
                        </div>
                        <div class="frame">web design</div>
                        {# <div class="frame">usability</div>
                        <div class="frame">e-commerce</div> #}
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tab-img"></div>
                    <div class="clients-tittle">Clients</div>
                    <div class="clients-container">
                        <p class="clients-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="clients-subscription">Project Manager/<a href="Infinity-group.pl">Infinity-group.pl</a>
                        </div>
                        {# <div class="frame">web design</div> #}
                        <div class="frame">usability</div>
                        {# <div class="frame">e-commerce</div> #}
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tab-img"></div>
                    <div class="clients-tittle">Clients</div>
                    <div class="clients-container">
                        <p class="clients-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="clients-subscription">Project Manager/<a href="Infinity-group.pl">Infinity-group.pl</a>
                        </div>
                        {# <div class="frame">web design</div>
                        <div class="frame">usability</div> #}
                        <div class="frame">e-commerce</div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>

        </div>

        <div class="swiper-pagination"></div>

        <div class="site-nr ">2/5
        </div>
        <div class="page-prev-next white">
            <div class="line"></div>
            <div class="up">
                <img class="arrow_up " src="img/Arrow_up_dark.png" alt="">
            </div>
            <div class="down">
                <img class="arrow_down" src="img/Arrow_down_dark.png" alt="">
            </div>
        </div>
    </div>
</div>
</section>