<section class='header'>
    <div class='wrapper'>
        <button class="header-menu-btn no1">
            <span>Miss</span><br>
            <span>ion</span>
        </button>
        <button class="header-menu-btn no2">
            <span>Clie</span><br>
            <span>nts</span>
        </button>
        <button class="header-menu-btn no3">
            <span>Prod</span><br>
            <span>ucts</span>
        </button>
        <button class="header-menu-btn no4">
            <span>Cont</span><br>
            <span>act</span>
        </button>
        <div class="header-content">
            <a href='#' class='header-logo'>
                <img src="img\logo_white.png" alt='logo'>
            </a>

            <ul class='header-nav'>
                <li>
                    <a href="#mission">MISSION</a>
                </li>
                <li class="line_btw_menu"></li>
                <li>
                    <a href="#clients">CLIENTS</a>
                </li>
                <li class="line_btw_menu"></li>
                <li>
                    <a href="#products">PRODUCTS</a>
                </li>
                <li class="line_btw_menu"></li>
                <li>
                    <a href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</section>