<section class='header' data-js="header">
    <div class='wrapper'>
        <div class="header-content">
            <a href='#' class='header-logo'>
                <img src="..\img\logo_white.png" alt='logo'>
            </a>
            <ul class='header-nav'>
                <li>
                    <a href="#mission">MISSION</a>
                </li>
                <li class="line"></li>
                <li>
                    <a href="#clients">CLIENTS</a>
                </li>
                <li class="line"></li>
                <li>
                    <a href="#products">PRODUCTS</a>
                </li>
                <li class="line"></li>
                <li>
                    <a href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</section>