<section class='hero' data-js="hero">
    <div class='wrapper'>
        <div class="hero-content">
            {# <div class="wrapper-header">
                <div class='header' data-js="header">

                    <div class="green-box"></div>
                    <a href='#' class='header-logo'>
                        <img src="..\img\logo_white.png" alt='logo'>
                    </a>
                    <ul class='header-nav'>

                        <li>
                            <a href="#mission">MISSION</a>
                        </li>
                        <li class="line"></li>
                        <li>
                            <a href="#clients">CLIENTS</a>
                        </li>
                        <li class="line"></li>
                        <li>
                            <a href="#products">PRODUCTS</a>
                        </li>
                        <li class="line"></li>
                        <li>
                            <a href="#contact">CONTACT</a>
                        </li>

                    </ul>

                </div>
            </div> #}

            <div class="praktyki-ig">
                PRAKTYKI
                <br>
                <span>INFINITY-GROUP</span>
            </div>
            <div class="cookies" data-js="cookies">
                <div class="cookies-doll"><img src="../img/cookies-doll.png" alt="cookies doll"></div>
                <p class="text">
                    We use own and third party cookies to improve our services and show ads related to your preferences by analyzing your browser habits . If you continue browsing , we consider you accept its use. You can switch the configuration or learn more
                    <a href="#">here</a>

                </p>
                <button class="btn-cookies" data-js="btn-cookies">CLOSE&nbsp X</button>
            </div>
        </div>
    </div>
</div>
</section>