<section class='map' id="map" data-js="map">
    <div class='wrapper'>
        <div class="map-sign"><img src="img/sign.png" alt=""></div>
        <div class="map-text">
            <div class="company-name">Infinity Group Sp. z o.o</div>
            <div class="company-adress">ul. Skladowa 12,<br>
                15-399 Bialystok,<br>
                Polska.</div>

            <div class="map-description">Lorem ipsum dolor sit amet,<br>
                consectetur adipiscing elit</div>

        </div>
        <div class="site-nr">4/5
        </div>
        <div class="page-prev-next">
            <div class="line"></div>
            <div class="up">
                <img class="arrow_up" src="img/Arrow_up_dark.png" alt="">
            </div>
            <div class="down">
                <img class="arrow_down" src="img/Arrow_down_dark.png" alt="">
            </div>
        </div>
    </div>
</section>