<section class='map' data-js="map">
    <div class='wrapper'>
        <div class="map-sign"><img src="../img/sign.png" alt=""></div>
        <div class="map-text">
            <div class="company-name">Infinity Group Sp. z o.o</div>
            <div class="company-adress">ul. Skladowa 12,<br>
                15-399 Bialystok,<br>
                Polska.</div>

            <div class="map-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>

        </div>

    </div>
</section>