<section class='products' id="products" data-js="products">
    <div class='wrapper'>
        <div class="products-tittle">Products</div>
        <p class="products-text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>

        <div class="icons">
            <div class="icon" id="0"><img src="../img/001-malware.png" alt=""></div>
            <div class="icon" id="1"><img src="../img/002-smartphone-1.png" alt=""></div>
            <div class="icon" id="2"><img src="../img/003-folder.png" alt=""></div>
            <div class="icon" id="3"><img src="../img/004-malware.png" alt=""></div>

            <div class="icon" id="4"><img src="../img/005-pendrive.png" alt=""></div>
            <div class="icon" id="5"><img src="../img/006-network.png" alt=""></div>
            <div class="icon" id="6"><img src="../img/007-smartphone-2.png" alt=""></div>
            <div class="icon" id="7"><img src="../img/008-fishing.png" alt=""></div>

            <div class="icon" id="8"><img src="../img/009-data-protection.png" alt=""></div>
            <div class="icon" id="9"><img src="../img/010-credit-card.png" alt=""></div>
            <div class="icon" id="10"><img src="../img/011-hacker.png" alt=""></div>
            <div class="icon" id="11"><img src="../img/012-firewall.png" alt=""></div>

        </div>
    </div>
</section>