.clients {
  position: relative;
  height: 720px;
  max-width: 1366px;
  margin: 0 auto;
  background-image: url("../img/trianglify.png");
  background-size: 100% 100%;
  .swiper-container {
    position: absolute;
    width: 100%;
    height: 100%;
    .swiper-pagination {
      margin-bottom: 135px;

      @include max-media($breakpoint-tab) {
        margin-bottom: 35px;
       }
    }
    .swiper-pagination-bullet {
      background:$color-5;
      width: 16px;
      height: 16px;
      z-index: 135;
      margin-bottom: 15px;
    }
    .swiper-pagination-bullet-active {
      background-color: $color-1;
      width: 16px;
      height: 16px;
    }
  }

  .clients-tittle {
    position: absolute;
    display: block;
    color: $color-1;
    font-size: $font-size-h2;
    line-height: $font-size-h2 * 1.12;
    letter-spacing: -25;
    left: 50%;
    top: 14%;
    transform: translateX(-50%);
  }
  div.tab-img {
    position: absolute;
    display: block;
    top: 28%;
    right: 60%;
    width: 448px;
    height: 377px;
    background-image: url("../img/iPod2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    
    @include max-media($breakpoint-desk-Small) {
     width: 380px;
    height: 320px;
    right: 58%;
    }
    @include max-media($breakpoint-tab) {
      width: 336px;
     height: 282px;
     right: 28%;
     top: 25%;
     }
    @include max-media($breakpoint-mob) {
      width: 268px;
     height: 225px;
     right: 28%;
     top: 25%;
    }
  }
  .clients-container {
    position: absolute;
    background-color: transparent;
    width: 42%;
    left: 45%;
    top: 35%;
    transform: translate(0%, -10%);

    @include max-media($breakpoint-tab) {
      width: 65%;
     top: 70%;
     left: 20%;
     }
     @include max-media($breakpoint-mob) {
      top: 65%;
     }

    .clients-text {
      font-size: $font-size-swipper;
      line-height: $font-size-swipper*1.4;
      font-family: $font-2;
      font-weight: 300;
      letter-spacing: -0.25px;
      &:before {
        content: "”";
        position: absolute;
        display: block;
        left: -45px;
        font-size: $font-size-body * 2.8;
        font-family: $font-2;
        font-weight: 900;
      }
    }
    .clients-subscription {
      margin-top: 3%;
      font-size: $font-size-body;
      line-height: $font-size-body*1.22;
      font-family: $font-2;
      font-weight: 300;
      letter-spacing: -25;

      a {
        color: $color-1;
      }
    }

    .frame {
      border: 1px solid #c5e6ca;
      float: left;
      font-family: $font-2;
      font-weight: 300;
      font-size: 15px;
      font-size: $font-size-body*0.68;
      line-height: 18px;
      letter-spacing: -25;
      color: $color-1;
      padding: 3px;
      margin: 35px 2px 2px 2px;

      @include max-media($breakpoint-tab) {
        margin: 14px 2px 2px 2px;
       }
    }
  }
}
