.footer {
  display: block;
  height: 85px;
  max-width: 1366px;
  margin: 0 auto;
  background-color: #242424;
  color: #848484;
  font-family: $font-2;
  font-weight: 300;
  font-size: $font-footer;
  footer {
    width: 100%;
    color: #8a8a8a;
    p {
      padding-top: 28px;
      margin-left: 14%;
      left: 14%;
      text-align: left;
      font-family: $font-2;
      font-weight: 300;
      font-size: $font-footer;
      line-height: $font-size-body*0.95;
      letter-spacing: 0.25px;
    }
    p + p {
      padding-top: 0px;
      font-family: $font-2;
      font-weight: 300;
      font-size: $font-footer;
      line-height: $font-size-body*0.96;
      letter-spacing: 0.25px;
    }
  }
}
