.header {
  position: relative;
  // top: 0; left: 0;
  height: 0px;
  max-width: 1366px;
  // max-width: 1366px;
  margin: 0 auto;
  // overflow: hidden;

  .wrapper {
    // margin: 0 auto;
    width: 70%;
    // max-width: 960px;
    height: inherit;

    .header-content {
      // margin: 0 auto;
      position: absolute;
      display: block;
      width: 100%;
      max-width: 956.2px;
      height: 95px;
      left: 50%;
      transform: translateX(-50%);
      // width: 100%;
      // width: 556px;
      // width: 956px;
      // width: 70%;

     
      // margin: 0 auto;
      // left: 50%;
      // transform: translateX(50%);

      // left: 15%;
      // top: 0px;

      // margin-left: 15vw;
      z-index: 100;
      // background-color: rgb(34, 34, 34);
      color: $color-1;
      opacity: 0.831;
      &.scroll-isMoving {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        // left: 15%;
        // width: 60em;

        width: 70%;
        max-width: 956.2px;
        // width: 100%;

        // width: 65em;
        opacity: 0.8;
        z-index: 130;
        background-color: rgb(34, 34, 34);
        height: 80px;
      }
      &.scroll-isMoving-Narrow {
        display: none;
      }

      .green-box {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 95px;
        height: 10px;
        background-color: #62c017;
        // &:before(2) {
        //   content: "";
        //   color: greenyellow;
        // }
      }
      a.header-logo {
        position: absolute;
        display: block;
        // margin-left: 12%;
        // margin-top: 9px;
        top: 25px;
        // left: 15px;
        left: 0%;
        // width: 95px;
        height: 95px;
      }

      ul.header-nav {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 90%;
        height: 190px;
        // margin: 0 auto;
        // margin-left: 22%;
        left: 5%;
        z-index: 10;
        // a {
        //   text-decoration-line: none;
        //   z-index: 126;
        //   cursor: pointer;

        // @media (max-width: 768) {
        //   color: blue;
        //   // display: none;
  
        // }

        li {
          // position: absolute;
          display: block;
          width: 145px;
          height: 95px;
          margin-top: 45px;
          color: $color-1;
          // color: greenyellow;
          font-family: "Mada Light";
          font-size: $font-header-menu;
          letter-spacing: 0.25px;
          text-align: center;

          a {
            text-decoration-line: none;
            z-index: 126;
            color: $color-1;

            cursor: pointer;
          }
          a:hover {
            color: #62c017;
            z-index: 126;
          }
          // a:visited {
          //   color: $color-1;
          // }

          // &:after:nth-of-type(2) {
          //   content: "";
          //   display: block;
          //   width: 2px;
          //   height: 110px;
          //   background-color: #93a693;
          //   z-index: 120;
          // }

          // :nth-chlid(2) {
          //   color: greenyellow;
          // }
        }
        li.line_btw_menu {
          display: block;
          margin-top: 25px;
          top: 25px;
          // left: 240px;
          width: 1px;
          height: 55px;
          background-color: #93a693;
          z-index: 15;
        }
      }
    }
  }
}
// .header {
//   position: relative;
//   display: block;
//   max-width: 1366px;
//   margin: 0 auto;
//   height: 0px;
//   left: 15%;
//   // top: 0px;
//   z-index: 100;
//   background-color: rgb(34, 34, 34);
//   color: $color-1;
//   opacity: 0.831;

//   .header-content {
//     position: absolute;
//     display: block;
//     width: 70%;
//     margin-left: 15%;
//     margin-right: 15%;
//     text-align: center;
//     &.scroll-isMoving {
//       position: fixed;
//       width: 70%;
//       left: 50%;
//       top: 0px;
//       transform: translateX(-50%);

//       opacity: 0.9;
//       z-index: 130;
//       background-color: rgb(34, 34, 34);
//       height: 80px;
//       // width: 70%;
//     }
//   }
// }

//   // position: absolute;
//   // display: block;
//   // // width: 556px;
//   // width: 956px;
//   // margin: 0 auto;
//   // height: 95px;
//   // // left: 12%;
//   // // top: 0px;

//   // // margin-left: 15vw;
//   // z-index: 100;
//   // background-color: rgb(34, 34, 34);
//   // color: $color-1;
//   // opacity: 0.831;
//   // top: 548px;

//   // top: 0;
//   // left: 0;

//   // width: 100%;
//   // height: 2 * $space;
//   // overflow: hidden;
//   // color: $white;

//   a.header-logo {
//     position: absolute;
//     // display: block;
//     // margin-left: 12%;
//     // margin-top: 9px;
//     top: 9px;
//     // width: 95px;
//     height: 95px;
//   }

//   ul.header-nav {
//     position: absolute;
//     display: flex;
//     justify-content: space-around;

//     width: 63%;
//     height: 190px;
//     // margin: 0 auto;
//     // margin-left: 22%;
//     left: 22vw;
//     z-index: 10;
//   }
//   li {
//     // position: absolute;
//     display: block;
//     width: 150px;
//     height: 95px;
//     margin-top: 45px;
//     color: $color-1;
//     font-family: "Mada Light";
//     letter-spacing: 0.25px;
//   }
// }
