.header {
  position: relative;
  height: 0px;
  max-width: 1366px;
  margin: 0 auto;
    
  .header-menu-btn{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 0px;
    top: -70px;
    z-index: -1;
    outline: none;
    opacity: 0.85;
    &:hover{
      opacity: 0.6;
    }
    &.no1{
      background-color: $color-2;
      left:50px;
      font-size: 28px;
      line-height: 26px;
    }
    &.no2{
      background-color: #8eb86c;
      left: 0px;
      margin-top:50px;
      font-size: 28px;
      line-height: 26px;

    }
    &.no3{
      background-color: #7e8d72;
      left: 50px;
      margin-top:100px;
      font-size: 28px;
      line-height: 26px;

    }
    &.no4{
      background-color: #8a8a8a;
      left: 0px;
      margin-top:150px;
      font-size: 28px;
      line-height: 26px;
    }

    @include min-media($breakpoint-tab){
      display: none;
    }

    &.show-btn-header{
      position: fixed;
      z-index: 130;
      top: 0px;
    }

    .span{
      width: 20px;
      height: 2px;
      background-color: $color-2;
    }
  }

  .wrapper {
    width: 70%;
    height: inherit;

    .header-content {
      position: absolute;
      display: block;
      width: 100%;
      max-width: 956.2px;
      height: 80px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      color: $color-1;
      opacity: 0.831;
      transition: 0.3s background-color;

      @include max-media($breakpoint-tab){
        display: none;
      }


      &.scroll-isMoving {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        max-width: 956.2px;
        opacity: 0.8;
        z-index: 130;
        background-color: #222222;
        height: 80px;
      }
     
      .green-box {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 95px;
        height: 10px;
        background-color: $color-2;
      }
 
      a.header-logo {
        position: absolute;
        display: block;
        top: 25px;
        left: 0%;
        height: 95px;
        @include max-media($breakpoint-desk) {
          transform: scale(0.85);
        }
        @include max-media($breakpoint-desk-Small) {
          transform: scale(0.7);
        }
        @include max-media($breakpoint-tab) {
          display:none;
        }
      }
      ul.header-nav {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 90%;
        height: 190px;
        left: 5%;
        z-index: 10;
        
        &.show-other-menu{
          position: fixed;
        display: flex;
        flex-direction: column;
        }

        li {
          display: block;
          width: 145px;
          height: 95px;
          margin-top: 45px;
          color: $color-1;
          font-family: "Mada Light";
          font-size: $font-header-menu;
          letter-spacing: 0.25px;
          text-align: center;

          a {
            text-decoration-line: none;
            z-index: 126;
            color: $color-1;

            cursor: pointer;
          }
          a:hover {
            color: $color-2;
            z-index: 126;
          }
        }
        li.line_btw_menu {
          display: block;
          margin-top: 25px;
          top: 25px;
          width: 1px;
          height: 55px;
          background-color: #93a693;
          z-index: 15;
        }
      }
    }
  }
}
