$color-1: white;
$color-2: #62c017;
$color-3: #777;
$color-4: #d1d0d1;
$color-5: #daffdf;

$color-error: red;

$base-unit: 1rem;

$font-size-base: $base-unit;
$font-size-body: $font-size-base;                   //22px

$font-header-menu: $font-size-base * 0.73;          //16px
$font-hero-cookie: $font-size-base * 0.62;          //14px
$font-footer: $font-size-base * 0.54;               //12px

$font-size-h1: $font-size-base * 2.64;              //58px
$font-size-h2: $font-size-base * 2.27;              //50px
$font-size-swipper: $font-size-base * 1.36;         //30px

$font-1: "Homenaje", sans-serif;
$font-2: "Mada", sans-serif;


$breakpoint-mob-Small: 360px;
$breakpoint-mob: 480px;
$breakpoint-tab: 768px;
$breakpoint-desk-Small: 1024px;
$breakpoint-desk: 1366px;
// $breakpoint-desk-xl: 1600px;

