.clients {
  position: relative;
  // top: 0; left: 0;
  height: 720px;
  max-width: 1366px;
  margin: 0 auto;
  background-image: url("../img/trianglify.png");

  .clients-tittle {
    position: absolute;
    display: block;
    color: $color-1;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: -25;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
  }
  .tab-img {
    position: absolute;
    display: block;
    top: 200px;
    left: 120px;
    // left: 12%;
  }
  .clients-container {
    position: absolute;
    // display: block;
    width: 560px;
    left: 50%;
    top: 50%;
    transform: translate(-15%, -52%);
    .clients-text {
      font-size: 30px;
      line-height: 42px;
      font-family: "Mada light";
      letter-spacing: -25;
      &:before {
        content: "”";
        position: absolute;
        display: block;
        left: -45px;
        font-size: 61px;
        font-family: "Mada", sans-serif;
        font-weight: 900;
      }
    }
    .clients-subscription {
      font-size: 22px;
      line-height: 27px;
      margin-top: 3%;
      font-family: "Mada light";
      letter-spacing: -25;

      a {
        color: $color-1;
      }
    }
  }

  .frame {
    border: 1px solid #c5e6ca;
    float: left;
    font-family: "Mada light";
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -25;
    color: $color-1;
    padding: 3px;
    margin: 38px 2px 2px 2px;
  }
}
