button {
  position: absolute;
  color: $color-1;
  background-color: $color-2;
  z-index: 126;
  border-radius: 3px;
  border: none;
  text-align: left;
  text-decoration: none;
  font-family: $font-1;
  font-size: $font-size-body;
  line-height: $font-size-body*1.13;
  letter-spacing: -0.25px;
  cursor: pointer;
}

input[type="checkbox"] {
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
  width: 1px;
  margin: 0;
  position: absolute;

  &:focus {
    & + label:before {
      color: $color-2;
    }
  }

  & + label {
    position: absolute;
    user-select: none;
    padding-left: 4%;
    margin: 0;
    &:before {
      content: "☐";
      position: absolute;
      left: -2%;
      top: -0.25em;
      font-size: 1.5em;
    }
  }
  &:checked + label {
    &:before {
      content: "🗹";
      color: $color-2;
    }
  }
  

  .is-submitted &:invalid + label {
    color: $color-error;
  }
}

input {
  border: none;
  font-family: $font-2;
  font-weight: 400;
  font-size: $font-size-body*0.82;
  line-height: $font-size-body*1.45;
  width: 65%;
  top: 15px;
  color: black;
  border-bottom: 2px solid #989898;
   
  .is-submitted &:invalid {
    border-color: $color-error;
  };
  &#name{
    width: 70%;
  };
  &#company{
    width: 60%;
  };
  &#phone{
    width: 69%;
  };
  &#email{
    width: 43%;
  };
  @include max-media($breakpoint-tab) {
    flex-grow: 1;
    
    }
  
}

.contact {
  display: block;
  height: 650px;
  max-width: 1366px;
  margin: 0 auto;
  .btn-contact {
    line-height: 25px;
    width: 20%;
    height: 45px;
    right: 13%;
    top: 13%;
    padding-left: 1.5%;
    
    @include max-media($breakpoint-desk-Small) {
      width: 24%;
    }
    @include max-media($breakpoint-tab) {
      width: 28%;
    }
    @include max-media($breakpoint-mob) {
      width: 32%;
    }
    @include max-media($breakpoint-mob-Small) {
      width: 35%;
    }
    span {
      position: absolute;
      display: block;
      right: 4%;
      top: 8px;
      width: 15px;
      height: 22px;
    }
  }
  .contact-tittle {
    position: absolute;
    display: block;
    font-size: $font-size-h2;
    line-height: $font-size-h2 * 1.12;
    letter-spacing: -0.25px;
    left: 14%;
    top: 12%;
  }
  .contact-text {
    position: absolute;
    display: block;
    width: 60%;
    height: 85px;
    left: 20%;
    top: 28%;
    font-family: $font-2;
    font-weight: 300;
    letter-spacing: -0.25px;
    font-size: $font-size-body;
    line-height: $font-size-body*1.36;
    
  }
  .form-contact {
    display: block;
    position: absolute;
    width: 60%;
    height: 100px;
    left: 20%;
    top: 50%;
    @include max-media($breakpoint-tab) {
      top: 42%;
      }
    .form-block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      width: 100%;
      height: 200px;
      background-color: $color-1;

      @include max-media($breakpoint-tab) {
        height: 120px;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
      }

      .form-el {
        width: 46%;
        height: 50px;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start; 


        @include max-media($breakpoint-tab) {
          width: 100%;
          height: 30px;
          flex-wrap: wrap;
           align-content: flex-start;
        }
        @include max-media($breakpoint-mob) {
          width: 100%;
          flex-wrap: nowrap;
        } 
       
        &.wide {
          width: 54%;
          @include max-media($breakpoint-tab) {
            width: 100%;
          }
        }

        
        .form-name-label,
        .form-company-label,
        .form-phone-label,
        .form-email-label {
       
          flex-shrink: 0;
          white-space:wrap;
          height: 50px;
          font-family: $font-2;
          font-weight: 300;
          font-size: $font-size-swipper;
          line-height: $font-size-body*1.4;
          letter-spacing: -0.25px;
          @include max-media($breakpoint-tab) {
            flex-shrink: 0;
            height: 30px;
          }
        }
      
        #name:focus,
        #company:focus,
        #phone:focus,
        #email:focus {
          outline: none;
          border-bottom: 2px solid $color-2;
          font-size: $font-size-body*0.9;
          color: black;
        }
        input{
          flex-shrink: 1;
        }
      }
    }
  }
  .cbox {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    top: 120%;
    @include max-media($breakpoint-tab) {
      top: 130%;
      }

    #cbox {
      font-size: 28px;
      background-color: #bbb;
      font-family: $font-2;
      font-weight: 300;
      font-size: $font-size-body*1.27;
    }
    .field-cbox-label {
      margin-bottom: 16px;
      margin-left: 12px;
      font-family: $font-2;
      font-weight: 300;
      font-size: $font-size-body*0.82;
    }
  }
  .btn-submit {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    top: 180%;
    

    .btn-s {
      left: 50%;
      transform: translateX(-50%);
      width: 20%;
      height: 45px;
      padding-left: 1.5%;
      @include max-media($breakpoint-desk-Small) {
        width: 24%;
        }
      @include max-media($breakpoint-tab) {
        width: 28%;
          
        }
      span {
        position: absolute;
        display: block;
        right: 5%;
        margin-top:auto;
        margin-bottom: auto; 
        top: 50%;
        transform: translateY(-58%);
        
      }
    }
  }
}

