.contact {
  display: block;
  height: 650px;
  width: 1366px;
  margin: 0 auto;
  .btn-contact {
    position: absolute;
    // margin-top: 39px;
    line-height: 25px;
    width: 265px;
    height: 45px;
    right: 13%;
    top: 13%;
    z-index: 126;
    color: $color-1;
    background-color: #62c017;
    border-radius: 3px;
    border: none;
    text-align: left;
    padding-left: 1.5%;
    text-decoration: none;
    font-family: "Homenaje", sans-serif;
    font-size: 22px;
    letter-spacing: -25;
    span {
      position: absolute;
      display: block;
      right: 20px;
      top: 8px;
      width: 15px;
      height: 22px;
    }
  }
  .contact-tittle {
    position: absolute;
    display: block;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: -0.25px;
    left: 14%;
    top: 12%;
  }
  .contact-text {
    position: absolute;
    display: block;
    width: 760px;
    height: 85px;
    left: 21%;
    top: 28%;
    font-family: "Mada light";
    letter-spacing: -0.25px;
    font-size: 22px;
    line-height: 30px;
  }
  .form-contact {
    .form-block {
      position: absolute;
      display: block;
      width: 850px;
      height: 80px;
      background-color: $color-1;
      top: 48%;
      left: 21%;
      // transform: translateX(-50%);
      .form-name-label,
      .form-company-label,
      .form-phone-label,
      .form-email-label {
        font-family: "Mada light", sans-serif;
        font-size: 30px;
        line-height: 42px;
        letter-spacing: -0.25px;
      }
      #name {
        border: none;
        border-bottom: 2px solid #989898;
      }
    }
  }
}
